.message{
    padding: 10px;
    width: fit-content;

}

.message-user{
    margin-left: auto;
    color:white;
    text-align: left !important;
}

.message-useCard{
    background-color: #01B6F7 !important;
}


.message-guestCard{
    background-color: #e9e9eb !important;
}